FLASK_APP=app.py
FLASK_DEBUG=0
SECRET_KEY=votre_cle_secrete_super_longue
DATABASE_URI=mysql+pymysql://utilisateur:motdepasse@localhost/portfolio_db

# Variables pour initialiser la base de données (init_db.py)
DB_HOST=localhost
DB_USER=utilisateur
DB_PASSWORD=motdepasse
DB_NAME=portfolio_db
ADMIN_PASSWORD=motdepasse_admin
